<hr>
<label for="ingrediennt">Ingredient</label>
<input type="text" name="ingredient" />
<label for="quantity">Quantity</label>
<input type="number" name="quantity" />
<label for="unit_measure">Unit of Measurement</label>
<select name="unit_measure">
  {% for unit in unit_measure %}
  <option value="{{ unit.id }}">{{ unit.name }}</option>
  {% endfor %}
</select>

{% comment %} <hr>
<form method="post" action="{% url 'submit_recipe' %}" hx-post="{% url 'submit_recipe' %}" hx-target="#recipe-form">
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset.forms %}
    {{ form.as_p }}
  {% endfor %}
</form> {% endcomment %}