{% extends "common/base.html" %} 
{% block content %}

<h1>Submit a Recipe</h1>

<form
  method="post"
  enctype="multipart/form-data"
  hx-post="{% url 'submit_recipe' %}"
>
  {% csrf_token %}
  <h2>Recipe Details</h2>
  <label for="title">Title</label>
  <input type="text" name="title" />
  <label for="description">Description</label>
  <input type="text" name="description" />
  <label for="prep_time">Prep Time</label>
  <input type="number" name="prep_time" />
  <label for="cook_time">Cook Time</label>
  <input type="number" name="cook_time" />
  <label for="servings">Servings</label>
  <input type="number" name="servings" />
  <label for="image">Image</label>
  <input type="file" name="image" />

  <div id="tags">
    <label for="tags">Tags</label>
        {% for tag in tags %}
    <label for="tags">{{ tag.tag_name }}</label>
    <input type="checkbox" name="tags" value="{{ tag.id }}" />
    {% endfor %}
  </div>

  <div id="recipe_ingredient">
    <label for="ingredient">Ingredient</label>
    <input type="text" name="ingredient[]" />
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity[]" />
    <label for="unit_measure">Unit of Measurement</label>
    <select name="unit_measure[]">
      {% for unit in unit_measure %}
      <option value="{{ unit.id }}">{{ unit.name }}</option>
      {% endfor %}
    </select>
  </div>
  
  <button
    type="button"
    hx-get="{% url 'add-ingredient' %}"
    hx-target="#recipe_ingredient"
    hx-swap="beforeend"
    class="button is-primary"
  >
    Add Ingredient
  </button>

  <div id="recipe_step">
    <label for="step">Step</label>
    <input type="text" name="step[]" />
  </div>

  <button
    type="button"
    hx-get="{% url 'add-step' %}"
    hx-target="#recipe_step"
    hx-swap="beforeend"
    class="button is-primary"
  >
    Add a Step
  </button>

  <button type="submit" class="button is-primary">Submit Recipe</button>

</form>
{% endblock %} 