{% extends "common/base.html" %}

{% block content %}

<div id="detail">
  {% load static %}

  <h1>{{ recipe.title }}</h1>
  <p>Description: {{ recipe.description }}</p>
  <p>Prep Time: {{ recipe.prep_time }} minutes</p>
  <p>Cook Time: {{ recipe.cook_time }} minutes</p>
  <p>Serving Size: {{ recipe.serving_size }} servings</p>
  <p>Uploaded By: {{ recipe.user }}</p>
  <p>Tags: 
    {% for tag in recipe.tags.all %}
      <p>{{ tag.tag_name }}</p>
    {% endfor %}
  </p>
  {% comment %} <button hx-get="{% url 'scale-recipe' recipe.id %}?scale={{ request.GET.get('scale') }}" class="button is-primary">Scale</button> {% endcomment %}

  <div id="recipe_ingredients">
      <p>Ingredients: 
          {% for ingredient in ingredients %}
            <p> {{ ingredient.ingredient.ingredient_name }} ({{ ingredient.quantity }} {{ ingredient.unit_measure.name }}) </p>
          {% endfor %}
      </p>
  </div>

  <p>Steps:
      {% for step in steps %}
        <p>{{ step.recipe_step }}</p>
      {% endfor %}
  </p>

  {% if recipe.image %}
      <img src="{{ recipe.image.url }}">

  {% else %}
    <a href="#">
      <img src="https://placehold.co/500x500" height="200" width="200">
    </a>
  {% endif %}

  {% if user.is_authenticated %}
    {% if not favorite %}
        <button name="recipe_id" value="{{ recipe.id }}" hx-post="{% url 'favorites'%}" hx-swap="innerHTML" class="button is-primary">Add to Favorites</button>
    {% endif %}
    
    {% if not in_menu %}
      <button  name="recipe_id" value="{{ recipe.id }}" hx-post="{% url 'upcoming-menu' %}"hx-swap="innerHTML" class="button is-primary">Add to Upcoming Menu</button>
    {% endif %}

  {% endif %}

</div>

{% endblock %}
