{% extends "common/base.html" %}

{% block content %}

<a id="back_button" href="{% url 'home' %}" class="button is-link">
  &#60; back
  </a>
<div id="detail" class="container">
  {% load static %}

  <h1 class="is-size-1">{{ recipe.title }}</h1>
  <ul>
    <li><strong>Description:</strong> {{ recipe.description }}</li>
    <li><strong>Prep Time:</strong> {{ recipe.prep_time }} minutes</li>
    <li><strong>Cook Time:</strong> {{ recipe.cook_time }} minutes</li>
    <li><strong>Serving Size:</strong> {{ recipe.serving_size }} servings</li>
    <li><strong>Uploaded By:</strong> {{ recipe.user }}</li>
    <li><strong>Tags:</strong>
    {% for tag in recipe.tags.all %}
      <li class="tag is-danger">{{ tag.tag_name }}</li>
    {% endfor %}
    </li>

  <div id="recipe_ingredients">
      <strong><li  class="is-underlined">Ingredients:</li></strong>
        <ul>
          {% for ingredient in ingredients %}
            <li class="ingredient-list"> {{ ingredient.ingredient.ingredient_name }} ({{ ingredient.quantity }} {{ ingredient.unit_measure.name }}) </li>
          {% endfor %}
        </ul>
  </div>

  <strong><li class="is-underlined">Steps:</li></strong>
    <ol>
      {% for step in steps %}
        <li class="step-listv">{{ step.recipe_step }}</li>
      {% endfor %}
    </ol>

    {% if recipe.image %}
        <img src="{{ recipe.image.url }}">

    {% else %}
        <img src="https://placehold.co/500x500" height="200" width="200">
    {% endif %}

    {% if user.is_authenticated %}
      {% if not favorite %}
          <button name="recipe_id" value="{{ recipe.id }}" hx-post="{% url 'favorites'%}" hx-swap="innerHTML" class="button is-primary">Add to Favorites</button>
      {% endif %}
      
      {% if not in_menu and menu_recipe_count < 7 %}
        <button  name="recipe_id" value="{{ recipe.id }}" hx-post="{% url 'upcoming-menu' %}"hx-swap="innerHTML" class="button is-primary">Add to Upcoming Menu</button>
      {% endif %}
 {% endif %}
</div>


{% endblock %}
