{% extends "common/base.html" %}

{% block content %}

<div id="detail">
  {% load static %}

  <h1>{{ recipe.title }}</h1>
  <p>Description: {{ recipe.description }}</p>
  <p>Prep Time: {{ recipe.prep_time }} minutes</p>
  <p>Cook Time: {{ recipe.cook_time }} minutes</p>
  <p>Serving Size: {{ recipe.serving_size }} servings</p>
  <p>Uploaded By: {{ recipe.user }}</p>
  <p>Tags: 
    {% for tag in recipe.tags.all %}
       <p>{{ tag.tag_name }}</p>
    {% endfor %}
  </p>
  <p>Ingredients: 
      {% for ingredient in ingredients %}
        <p> {{ ingredient.ingredient.ingredient_name }} ({{ ingredient.quantity }} {{ ingredient.unit_measure.name }}) </p>
      {% endfor %}
  </p>

  <p>Steps:
      {% for step in steps %}
        <p>{{ step.recipe_step }}</p>
      {% endfor %}
  </p>

  {% if recipe.image_filename != 'REMOVE THIS' %}
    <a href="#">
      <img src="{% static recipe.image_filename %}.jpg">
    </a>
  {% else %}
    <a href="#">
      <img src="https://placehold.co/500x500" height="100" width="100">
    </a>
  {% endif %}

  <form method="post" action="{% url 'favorites' %}">
    {% csrf_token %}
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <button type="submit">Add to Favorites</button>
  </form>

  <form method="post" action="{% url 'upcoming-menu' %}">
    {% csrf_token %}
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <button type="submit">Add to Upcoming Menu</button>
  </form>

</div>

{% endblock %}
