{% extends "common/base.html" %}

{% block content %}
<h1>Submit a Recipe</h1>

<form method="post" enctype="multipart/form-data" hx-post="{% url 'submit_recipe' %}" hx-target="#recipe-form">
  {% csrf_token %}

  <h2>Recipe Details</h2>
  {{ recipe_form.as_p }}

  <h2>Ingredient</h2>
  {{ ingredient_form.as_p }}

  <h2>Recipe Step</h2>
  <ul>
  {{ step_formset.management_form }}
  {% for form in step_formset %}
      <li id="recipe-step">{{ form.as_p }}</li>
  {% endfor %}
  </ul>
  <button type="submit" hx-target="#recipe-form">Submit Recipe</button>
</form>

<button type="button" hx-get="{% url 'empty-step-form' %}" hx-target="#recipe-step" hx-append>
Add Step
</button>

{% endblock %}
