{% extends "common/base.html" %} {% block content %}
<h1>Submit a Recipe</h1>

<form
  method="post"
  enctype="multipart/form-data"
  hx-post="{% url 'submit_recipe' %}"
>
  {% csrf_token %}

  <h2>Recipe Details</h2>
  {{ recipe_form.as_p }}

  <h2>Ingredient</h2>
  
      {{ ingredient_form.management_form }}
      {{ ingredient_form.as_p }}

      {{ ingredient_quantity_form.management_form }}
      {{ ingredient_quantity_form.as_p}}

  <div id="recipe-ingredient"></div>

    <button
    type="button"
    hx-get="{% url 'empty-ingredient-form' %}"
    hx-target="#recipe-ingredient"
    hx-swap="beforeend"
    hx-append
    >
    Add Ingredient
    </button>




  <h2>Recipe Step</h2>
  {{ step_form.management_form }}
  {{ step_form.as_p }}

  <div id="recipe-step"></div>

    <button
    type="button"
    hx-get="{% url 'empty-step-form' %}"
    hx-target="#recipe-step"
    hx-swap="beforeend"
    hx-append
  >
    Add Step
    </button>
  <button type="submit">Submit Recipe</button>

</form>

{% endblock %} 
