@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
  overflow-x:hidden;
}

body {
  min-height: 100vh;
}

img {
  max-width: 500px;
  max-height: 500px;
}
/* header {
  background-color:white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:70px 70px;
  color: #1A2833;
  text-shadow: #fdffdc 0px 0px 15px;
}

#header-buttons {
  text-align: right;
  padding: 2rem;
} */

/* main {
  text-align: center;
} */

/* #dashboard-modal {
  text-align: center;
} */

.ingredient-list {
  list-style: disc;
  margin: 1rem;
}

.step-list {
  list-style: disc;
  margin: 1rem;
}