* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(166, 237, 213);
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

#card {
  display: grid;  /* or use "grid" for grid layout */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; /* or "grid-template-columns" for grid layout */
  gap: 5px;  /* Adjust the gap between items as needed */
  place-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #3498db;  /* Blue color, you can change it as needed */

  /* Additional styles for content inside the card */
  color: #fff;  /* Text color, adjust as needed */
}