{% extends "common/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    
    {% if previous_menus %}
        {% for menu in previous_menus %}
            <h2>{{ menu.date_start }}</h2>
            <ul>
                {% for recipe in previous_menus.recipes %}
                    <li>{{ recipe.title }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endfor %}
        <hr>
    {% else %}
        <p>No recipes are available.</p>
    {% endif %}
{% endblock %}
```