{% extends "common/base.html" %}

{% block title %}Upcoming Menu{% endblock %}

{% block content %}
<div id="upcoming_recipes">
    <h1 class="title is-size-1">Upcoming Menu</h1>
    
    {% if upcoming_recipe %}
        <ul>
            {% for recipe in upcoming_recipe %}
                <li>
                    <a href="{% url 'recipe_detail' recipe_id=recipe.recipe.pk %}">{{ recipe.recipe.title }}</a>
                    <button class="delete" hx-delete="{% url 'delete-upcoming-recipe' recipe_id=recipe.recipe.pk %}" hx-target="#upcoming_recipes" hx-confirm="Are you sure you want to remove this recipe from your upcoming menu?" hx-swap="#"></button>
                </li>
            {% endfor %}
        </ul>
        {% if upcoming_recipe|length == 7 %}
            <p>Menu is full. Approve to lock in the menu.</p>
            <button hx-patch="{% url 'approve-menu' %}" hx-swap="
            innerHTML">Approve Menu</button>
        {% endif %}
    {% else %}
        <p>Browse and Add Recipes or Come Back Friday For Your Personal Menu!</p>
    {% endif %}
    </div>
{% endblock %}
