{% extends "common/base.html" %}

{% block title %}Upcoming Menu{% endblock %}

{% block content %}
    <h1>Upcoming Menu</h1>
    
    {% if upcoming_recipe %}
        <ul id="upcoming_recipes">
            {% for recipe in upcoming_recipe %}
                <li>
                    <a href="{% url 'recipe_detail' recipe_id=recipe.recipe.pk %}">{{ recipe.recipe.title }}</a>
                    <button hx-delete="{% url 'delete-upcoming-recipe' recipe_id=recipe.recipe.pk %}">Delete</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming recipe.</p>
    {% endif %}
{% endblock %}
