<ul>
  <li><a href="{% url 'upcoming-menu' %}">Upcoming Menu</a></li>
  <li><a href="{% url 'current-menu' %}">Current Menu</a></li>
  <li><a href="{% url 'previous-menu' %}">Previous Menu</a></li>
  <li><a href="{% url 'preferences' %}">User/Dietary Preferences</a></li>
  <li><a href="{% url 'favorites' %}">Favorite Recipes</a></li>
  <li><a href="{% url 'uploaded' %}">Personal Recipes</a></li>
  <li><a href="{% url 'create-recipe' %}">Add a Recipe</a></li>
  {% if is_moderator %}
    <li><a href="{% url 'moderator-content' %}">Moderator Area</a></li>
  {% endif %}
</ul>
