{% extends "common/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="title is-size-1">{{ title }}</h1>
  <div id="favorites" class="columns">
    {% if favorites %}
    <ul class="column">
        {% for favorite in favorites %}
            <li>
                <a hx-get="{% url 'recipe_detail' recipe_id=favorite.recipe.pk %}"
                hx-swap="main"
                hx-target="main"
                >
                {{ favorite.recipe.title }}
                </a>
                <button class="delete" hx-delete="{% url 'delete-favorite' recipe_id=favorite.recipe.pk %}" hx-target="#favorites" hx-confirm="Are you sure you want to remove this recipe from your favorites?" hx-swap="#favorites"></button>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% comment %} <div class="column is-three-quarters" id="fav_card"></div> {% endcomment %}
  </div>
{% endblock %}