{% extends "common/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="title is-size-1">{{ title }}</h1>
  <div id="favorites">
    {% if favorites %}
    <ul>
        {% for favorite in favorites %}
            <li>
                <a class="button is-link is-large" href="{% url 'recipe_detail' recipe_id=favorite.recipe.pk %}">{{ favorite.recipe.title }}</a>
                <button class="delete" hx-delete="{% url 'delete-favorite' recipe_id=favorite.recipe.pk %}" hx-target="#favorites" hx-confirm="Are you sure you want to remove this recipe from your favorites?" hx-swap="#favorites"></button>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}