{% extends "common/base.html" %}
<!-- -->
{% block content %}
<h1>Login</h1>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
  <br />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
  <br />
  <button type="submit">Login</button>
</form>

<h2>New to Calendinner?</h2>
<p>Sign up below!</p>

<h2>Signup</h2>
<form method="post" action="#">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
  <br />
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />
  <br />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
  <br />
  <label for="confirm_password">Confirm Password:</label>
  <input
    type="password"
    id="confirm_password"
    name="confirm_password"
    required
  />
  <br />
  <button type="submit">Signup</button>
</form>
<!-- -->
{% endblock content %}
